/*header*/
.a-menutitle{
width: 205px;
height: 20px;
line-height: 6;
font-size: 14px;
letter-spacing: 1.3px;
margin-left: 3vw;
color: white;
}
.fa-search{
  margin-left: 40px;
}
.a-logon{
line-height: 6;
width: 150px;
height: 50px;
}
.main-a{
background-color: #f2f5f7;
height: 2490px;
}
.a-slbtn{
  height: 30px;
  line-height: 3;
  width: auto;
}
.sign-a{
margin-top: 10px;
color: rgb(24, 93, 146);
font-size: 14px;
border-radius: 4px;
vertical-align: middle;
border: 1px solid #004d88;
height: 20px;
width: 100px;
background:transparent;
float: right;
height: 43px;
width: 7vw;
padding: 0px 12px;
}
.login-a{
vertical-align: middle;
border:none;
margin-top: 10px;
color: rgb(24, 93, 146);
font-size: 14px;
background:transparent;
float: right;
height: 43px;
width: 7vw;
}
/*header end*/
/*###############################*/
/*submit project*/
/*submit project start*/
.a-submitproject{

height: 800px;
margin-top: 177px;
}
.projecttitlemain  input{
border-radius: 4px;
height: 54px;
margin-top: 16px;
width: 400px;
border: 2px solid #F2F5F7;
}
.projecttitlemain{
height: 88px;
background-color: white;
}
.budget-a{
margin-top: 6px;
height: 88px;
background-color: white;
}
.budget-a input{
border-radius: 4px;
height: 54px;
margin-top: 16px;
width: 400px;
border: 2px solid #F2F5F7;
}
.editrhtml{
height: 300px;
margin-top: 6px;
background-color: white;
}
.editrhtml input{
height: 250px;
margin-top: 6px;
width: 454px;

}
/*en
d*/
/*########################3*/
/*search*/
.search_project{
/*display: none;*/
height: 100%;
background-color: grey;
}
.search-top{
width: auto;
max-width: 960px;
background: none;
border: none;
padding: 5px 0;
color: #004d88;
font-size: 48px;
font-weight: 200;
outline: none;
margin-left: 20px;
height: 70px;
}
.search-top{
width: 540px;
}
.search_complate{
margin-top: 60px;
}
.topsearch button{
margin-left: 16px;
background: transparent;
border: none;
}
.slectcls{
width: 245px;
margin-left: 10px;
font-size: 26px;
background: transparent;
border: none;
color: #004d88;
}
.searchproject-a span{
color: #b9c5cd;
}
/*end search*/
/*main */
.left-a{
z-index: 1;
background-color: rgb(24, 93, 146);
height: 52vw;
}
.rigth-a{
background-color: rgba(242,245,247,0.9);
height: 52vw;
}
.left-a  img{
margin-left: 43vw;
z-index: 1;
}
.post-a {
margin-top: 20px;
background-color: #f2f5f7;
color: rgb(24, 93, 146);
height: 43px;
width: 155px;
border: none;
float: right;
}
.left-a h1{
font-size: 47px;
color: white;
text-align: center;
}
.create-a{
height: 43px;
width: 155px;
margin-top: 20px;
color: white;
background-color:rgb(24, 93, 146);
border: none;
margin-left: 8vw;

}
.rigth-a h1{
margin-left: 8vw;
color: rgb(24, 93, 146);
font-size: 47px;
}
/*bos div*/
.null{
position: absolute;
top: 220px;
left: 90px;
}
.nul2{
position: absolute;
top: 220px;
}
/*end*/
/*/*#######################/*/
/*project start #################################*/
.project-a{
background-color: white;
height: 13vw;
}
.btnnone-a{
height: 5vw;
text-align: center;
color: #2c3e50;
box-shadow: 0 1px 1px rgba(119,119,119,0.2);
background-color: #fff;
font-weight: 600;
border: none;
border-top: 5px solid #00b0ff;
width: 14vw;
margin-top: 7vw;
}
.projectstitle-a{
margin-top: 63px;
}
.projectdetals-a{
border-radius: 5px;
padding: 10px;
background-color: white;
margin-top: 20px;
}
.projectdetals-a img{
border-radius: 100%;
}
/*project end #######################*/
.profiller-a{
height: 200px;
background-color: white;
margin-top: 20px;
}
.btntwo-a{
height: 5vw;
color: #2c3e50;
box-shadow: 0 1px 1px rgba(119,119,119,0.2);
background-color: #fff;
font-weight: 600;
border: none;
border-top: 5px solid #00b0ff;
width: 14vw;
margin-top: 7vw;
}
/*end #####/*/
/*freelancers-a start*/
.freelancers-a{

margin-top: 20px;

}
.accaunt-a{
background-color: white;
height: 180px;
}
.worker{
	padding: 0;
	margin:0;
height: 190px;
margin-left: 20px;
margin-top: 40px;
width: 530px;
background: white;
}
.worker img {
margin-top: 20px;
width: 70px;
height: 70px;
border-radius: 50%;
position: absolute;
}
.workprof{
margin-left: 90px;
margin-top: 10px;
position: absolute;
}
.worker button {
width: 130px;
height: 35px;
border-radius: 5px;
background: #004d88;
color: white;
float: right;
margin-top:40px;
box-shadow: 0 2px 0 #003055;
border:none;
}
.worker button:hover{
opacity: .9;
transition: all 1s;
}
.bottom-profile{
height: 35px;
width: 255px;
margin-left: 1px;
margin-top: 40px;
border: solid 1px #f4f6f8;
text-align: center;
}
.star{
padding: 0;
width: 100px;
height: 35px;
border-right: solid 1px #f4f6f8;
}
.star i{
color:black;
margin-top: 10px;
}
.years{
height: 35px;
border-left: solid 1px #f4f6f8;
}
/*main end*/
/*statsika*/
.marketplace{
margin-top: 100px;
background: white;
height: 358px;
}
.title h3{
	    line-height: 3;
color: #004d88;
font-size: 14px;
font-weight: 500;
text-transform: uppercase;
letter-spacing: 1.5px;
}
.block{
width: 60px;
height: 50px;
border-top: solid 1px gray;
border-bottom: solid 1px gray;
}
.block2{
margin-top: -5px;
margin-left: 5px;
width: 50px;
height: 60px;
border-right: solid 1px gray;
border-left: solid 1px gray;
}
.block i{
margin-left: 17px;
line-height: 4;
}
/*##########3*/
/*fouter*/
.speedworld{
height: 200px;

}
.paragrafs{
margin-top: 20px;
background-color: white;
height: auto;
margin-left: 10px;
}
.footer{
background: #2c3e50;
height: 100px;
}
.footer img{
margin-top: 20px;
margin-left: 30px;
}
.Designeid {
color: #a3acb5;
float: right;
margin-top: 50px;
}