<<<<<<< HEAD
<<<<<<< HEAD

=======
body{
  background-color: #f2f5f7;
}
>>>>>>> f8ee693d2bc8a93ca568da8c667588990fda64f6
/*header*/

.header{
  background-image:linear-gradient(to right,#185D92 50%,#F2F5F6 50%);
  height: 792px;



}
/*header end*/
/*menu start*/
.menu{

  height: 100px;
}
.flex{
  margin-top: 30px;
  display: flex !important;
  justify-content: center !important;
}
.menu span,i{
  margin-top: 30px;
  color: white;
  padding-left: 10px;
  font-size: 15px;;
  margin-top: 15px;
}
.src {
  color: white;
  padding-left:50px;
  font-size: 20px;
  margin-top: 30px;
}
.logo{
  margin-top: 30px;
  margin-left: 50px;
}

.sigin {
    border-radius: 4px;
    border: 1px solid #004d88;
    background: transparent;
    height: 37px;
    width: 96px;
}
.login{
    background: transparent;
    font-size: 15px;
    color: #004d88;
    border: none;
}
/*menu end*/
/*left rigth*/
.null{
  height: 200px;
}
.left h1{
color: #fff;
  font-weight: 100;
  font-size: 47px;
  line-height: 1.3;
  margin-bottom: 40px;
  letter-spacing: 1.5px;
  float: left;


}
.rigth h1{
margin-left: 70px;
color: #004d88;
font-weight: 100;
font-size: 47px;
line-height: 1.3;
margin-bottom: 40px;
letter-spacing: 1.5px;


}
.post{
      padding: 13px 28px;
      font-weight: 400;
      color: white;
      border:none;
      color: #004d88;
      float: right;
      margin-left: 50px;
          margin-right: 100px;;

}
.create{
   margin-left: 74px;
    background-color:#185D92;
    padding: 13px 28px;
    font-weight: 400;
    color: white;
    border:none;

}

/*left tigth end*/
/*looking start*/
.looking{
 
    background-color: white;
    height: 159px;
}

.btnnone {
    width: 124px;
    height: 52px;
    background-color: white;
    border: none;
    margin-top: 50px;
}
.btnnone:hover {
    
    background-color: #f2f5f7;
   
}
.projectstitle{
  margin-top: 20px;
}
.projectdetal{
  height: 40px;
 margin-top: 10px;
  background-color: white;
}
.projectdetal img{
  border-radius: 100%;
}
.freelancers{
 
    background-color: white;
    height: 159px;
    margin-top: 20px;
}
.worker{
 margin-left: 20px;
    margin-top: 40px; 
  width: 530px;
  height: 170px;
  background: white;
}
.worker img {
  margin-top: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
}
.workprof{
  margin-left: 90px;
  margin-top: 30px;
  position: absolute;
}
.worker button {
  width: 130px;
  height: 35px;
  border-radius: 5px;
  background: #004d88;
  color: white;
  float: right;
  margin-top:40px;
  box-shadow: 0 2px 0 #003055;
  border:none;
}
.worker button:hover{
  opacity: .9;
  transition: all 1s;
}
.bottom-profile{
  height: 35px;
  width: 255px;
  margin-left: 1px;
  margin-top: 120px;
  border: solid 1px #f4f6f8;
  text-align: center;
}

.star{
  padding: 0;
  width: 100px;
  height: 35px;
  border-right: solid 1px #f4f6f8;
}

.star i{
  margin-top: 10px;
}

.years{
height: 35px;
border-left: solid 1px #f4f6f8;
} /*main end*/
  .marketplace{
    margin-top: 30px;
      background: white;
      height: 500px;
    }
    .title h3{
    color: #004d88;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  }
  .block{
    width: 60px;
    height: 50px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
  }
  .block2{
    margin-top: -5px;
    margin-left: 5px;
    width: 50px;
    height: 60px;
    border-right: solid 1px gray;
    border-left: solid 1px gray;
  } 
  /*end of*/
  .speedworld{
    height: 200px;
    
  }
  .paragrafs{
    margin-top: 20px;
    background-color: white;
    height: 120px;
    margin-left: 10px;
  }
  .footer{
  background: #2c3e50;
  height: 100px;
}
<<<<<<< HEAD
/*project end*/
=======
.content{
background: #f2f5f7;
} /*header*/
.header{
height: 105px;
background: #1d6399;
position: fixed;
width: 100%;
z-index: 2;
}
.menu{
color:#d7e9f7;
margin-top: 30px;
margin-left: 20px;
line-height: 50px;
}
.menu span{
margin-left: 10px;
letter-spacing: 1.3px
}
.fa-search{
margin-left: 35px;
}
.logo{
margin-top: 25px;
text-align: center;
}
.proficon{
float: right;
margin-top: 30px;
letter-spacing: 1.5px;
}
.proficon img{
border-radius: 50%;
height: 40px;
width: 40px;
}
.proficon span{
margin-left: 10px
} /*header end*/
.sbmenu{ /*submenu*/
height: 100px;
background: #1d6399;
border-top: 0.2px solid black;
margin: 0 45px;
color: white;
}
.sbinput{
margin-left: 25px;
}
.sbinput h2{
font-size: 15px;
font-weight: 600
}
.range{
	background: transparent;
    -webkit-appearance: none;
    height: 0;

}
.rang{
	margin-top: 24px;
	height: 10px;
	border-radius: 20px;
	width: 175px;
	background-color: black;
   
}
/*submenu end*/
.background{ /*background*/
padding-top: 105px;
height: 450px;
background-image: url(http://azadart.com/site/wp-content/themes/azadart/img/bg-header.jpg);
}
.main{ /*main*/
height: 280px;
margin-top: 80px;
}
.main span{
color: #2c3e50;
font-size: 24px;
text-transform: capitalize;
}
.btnmain {
float: right;
margin-top: 20px;
width: 180px;
height: 40px;
background: #3783c4;
border-radius: 5px;
color: white;
border:none;
}
.btnmain:hover{
transition: all 1s;
opacity: 0.8;
}
.worker{
width: 530px;
height: 170px;
background: white;
margin-left: 20px;
}
.worker img {
margin-top: 20px;
width: 70px;
height: 70px;
border-radius: 50%;
position: absolute;
}
.workprof{
margin-left: 90px;
margin-top: 30px;
position: absolute;
}
.worker button {
width: 130px;
height: 35px;
border-radius: 5px;
background: #004d88;
color: white;
float: right;
margin-top:40px;
box-shadow: 0 2px 0 #003055;
border:none;
}
.worker button:hover{
opacity: .9;
transition: all 1s;
}
.bottom-profile{
height: 35px;
width: 255px;
margin-left: 1px;
margin-top: 120px;
border: solid 1px #f4f6f8;
text-align: center;
}
.star{
padding: 0;
width: 100px;
height: 35px;
border-right: solid 1px #f4f6f8;
}
.star i{
margin-top: 10px;
}
.years{
height: 35px;
border-left: solid 1px #f4f6f8;
} /*main end*/
.footer{ /*footer*/
background: #2c3e50;
height: 100px;
}
.footer img{
margin-top: 20px;
margin-left: 30px;
}
.Designeid {
color: #a3acb5;
float: right;
margin-top: 50px;
}
/*footer end*/
/*signup start*/

.signup{
height: 800px;
width: 500px;
background: #fff;
margin: 50px auto;
border-radius: 1px;
box-shadow: 0 1px 1px;
border:none;
}
.signup h4{
font-family: helvetica;
color: #2c3e50;
font-size: 36px;
font-weight: 600;
padding-top: 25px;
padding-left: 48px;
}
.signup form{
height: 800px;
width: 400px;
margin: 0 auto
}
.signup label{
color: #737c85;
font-size: 14px;
margin-bottom: 15px;
font-weight: 600;
}
.signup input{
border-radius: 5px;
height: 40px;
width: 330px;
border: 1px solid #d7d9da;
}
.signup input:focus{
	padding-left: 15px;
	transition: all 1s;
}
.signup span{
color: #666f78;
}
.signbtn{
width:265px;
height: 45px;
background-color: #004d88;
box-shadow: 0 2px 0 #003055;
color: #fff;
border: none;
}
.signbtn:hover{
color: #fff;
transition: ease 1s;
opacity: .9;
}
/* signup end*/
/*login start*/
body{
background-color: grey;
}
.login{
width: 500px;
height: 400px;
margin: 0 auto;
border-radius: 1px;
background-color: #fff;
box-shadow: 0 1px 1px rgba(119,119,119,0.2);
border: none;


}
.login h4{
font-family: helvetica;
color: #2c3e50;
font-size: 36px;
font-weight: 600;
padding-top: 25px;
padding-left: 48px;
}
.login form{
width: 360px;
height: 300px;
margin-left: 50px;

}
.login input{
border-radius: 5px;
height: 40px;
width: 330px;
border: 1px solid #d7d9da;

}
.login input:focus{
	padding-left: 25px;
	transition: all 1s;	
}
.login label{
color: #737c85;
font-size: 14px;
font-weight: 600;
}
.login button{
background-color: #004d88;
width: 180px;
height: 50px;
border:none;
border-radius: 5px;
color: white;
letter-spacing: 1.5px;

}
.login a{
	background-color: transparent;
	text-decoration: none;
	color: #4d5a63;
}
.login button:hover{
	opacity: .9;
}
/*login end*/
/*menu start*/


/*menu kodunu at end*/


.autworker{
	background-color: white;
	height: 60px;
}










>>>>>>> e73ef5d4d59541a4410716236f1188fe70df910c
=======
.footer img{
  margin-top: 20px;
  margin-left: 30px;
}
.Designeid {
  color: #a3acb5;
  float: right;
  margin-top: 50px;
}
>>>>>>> f8ee693d2bc8a93ca568da8c667588990fda64f6
